<h2>오늘 <%= @yourname %>님의 하루는 <%= @fortune %> 것 같네요.</h2>
<h3>제가 꼭 필요한 3가지 속담을 뽑아 보았어요:)</h3>

<hr>

<% @today_word. each do |word| %>
  <p> * <%= word %> </p>
<% end %>

<hr>

<h3>즐거운 하루 보내세요!</h3>
<a href="/">홈으로</a></a>