<h1>오늘의 격언</h1>
  <p> 코딩하는 불문학도가 오늘 당신에게 꼭 필요한 3가지의 격언을 뽑아드립니다. </p>
  
<h2>당신의 이름은 무엇입니까? </h2>

<form action="/daily_proverbs" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="yourname" placeholder="이름을 입력해주세요!">
  </div>
  <button type="submit" class="btn btn-default">전송!</button>
</form>
